<%- layout("template2")%>

<div class="container">

    <div class="col-lg-6 col-lg-offset-3" style="border: #43ff5a groove 3px; margin-top: 30px; margin-bottom: 30px; padding-top: 10px; border-radius:30px">
        <h3>Add Category</h3>
        <% if(message.length>0) {%>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times</span>
            </button>
            <%=message%>
        </div>
        <%}%>
        <% if(message_failure.length>0) {%>
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times</span>
            </button>
            <%=message_failure%>
        </div>
        <%}%>
        <form role="form" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="address" placeholder="Enter Category">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="submit" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>
