<%- layout("template1")%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Starbyte!</h1>
        <p>Admin dashboard.</p>
        <p><a class="btn btn-primary btn-lg" href="/">Visit site &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h3>Category Management</h3>
            <p>Add Category here</p>
            <p><a class="btn btn-primary btn-lg" href="/add-category">Add Category &raquo;</a></p>

        </div>
        <div class="col-lg-4">
            <h3>User Management</h3>
            <p>Manage User here</p>
            <p><a class="btn btn-primary btn-lg" href="#">Edit User &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h3>Get User removed</h3>
            <p>Remove user here</p>
            <p><a class="btn btn-primary btn-lg" href="#">Remove user &raquo;</a></p>
        </div>
    </div>

    <hr>


</div> <!-- /container -->