<%-layout("template1")%>
<div class="jumbotron">
    <div class="container">
        <h1>Contact Us</h1>
        <p>Fill the required form below for our team to attend to you. Because we often receive so many emails,
            your reply might take a week before we send you feed back; please endure with us !</p>

    </div>
</div>
<div class="container">

    <div class="col-lg-6 col-lg-offset-3" style="border: #3E3F3A groove 3px; margin-top: 30px; margin-bottom: 30px;padding-bottom: 20px; padding-top: 10px; border-radius:30px">
       <form role="form">
           <div class="form-group">

             <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
           </div>
           <div class="form-group">

              <Textarea rows="5" cols="73" placeholder="Enter your message"></Textarea>
           </div>
           <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>